node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
.env
.env.local
.DS_Store

# EAS builds
eas-builds/
.eas/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.cache/


ml-service/.venv/

.npm-cache/