patient_age,patient_sex,num_current_meds,has_renal_disease,has_hepatic_disease,has_diabetes,has_cardiovascular,has_epilepsy,allergy_severity_max,allergy_class_overlap,ddi_severity_max,ddi_pair_count,sider_adr_count,drug_hepatic_metabolism,drug_renal_excretion,nti_drug_flag,atc_class_encoded,adr_event
